/* CSS for index.html*/
#main {
    background: url("http://jto.s3.amazonaws.com/wp-content/uploads/2014/09/p08-st.-michel-edm-a-20140924.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#main-heading {
    text-align: center; 
    font-family: 'Megrim', cursive;
    font-size: 50px;
    margin-bottom: 10px;
}

#main-note {
    margin-top: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    letter-spacing: 5px;
    
}

#main-nav {
    margin: 0px auto;
    margin-top: 40px;
}

#main-nav, td, a {
    color: #8A002E;
    font-family: 'Megrim', cursive;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 10px;   
}

#main-video {
    display: block;
    width: 640px;
    height: 320px;
    margin: 0 auto;
   /* margin-top: 40px;*/
}
/* End of CSS index.html */

#ultra {
     background: url("http://hdwallpapersmart.com/wp-content/uploads/2014/03/0009_20130315_UMF-DAY2-Deadmau5-005.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#ultra-heading {
    font-family: 'Audiowide', cursive;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

#ultra-note {
    font-family: 'Damion', cursive;
    margin-top: 5px;
    text-align: center;
}

#ultra-nav {
    
}

#ultra-video {
    display: block;
    width: 640px;
    height: 320px;
    margin: 0 auto;
}














